/*Import of all the letter fonts*/
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Special+Gothic+Condensed+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Special Gothic Condensed One", sans-serif;
}

:root{
    /* Colors */
    --white-color: #fff;
    --dark-color: rgb(46, 46, 46);
    --primary-color: rgb(85, 38, 38);
    --secondary-color: orange;
    --light-pink-color: rgb(252, 244, 245);
    --medium-gray-color: #ccc;

    /*Font sizes*/
    --font-size-small: 0.9rem;
    --font-size-smedium: 1rem;
    --font-size-medium: 1.12rem;
    --font-size-large: 1.5rem;
    --font-size-XL: 2rem;
    --font-size-XXL: 2.3rem;

    /*Font weight*/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    
    
    /*Border radius*/
    --border-radius-small: 8px;
    --border-radius-medium: 30px;
    --border-radius-circle: 50%;

    /*Site max width*/
    --site-max-width: 1300px;



}


/*Styling for whole website*/

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content{
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}

.section-title{
    
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-XL)
}


.section-title::after{
    content:"";
    width: 80px;
    height: 5px;
    display: block;
    background: var(--secondary-color);
    margin: 10px auto 0;
    border-radius: var(--border-radius-small);

}



/*Navbar styles*/
header {
    background: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;

}

.navbar .nav-logo .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-XL);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu{
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    border-radius: var(--border-radius-medium);
    font-size: var(--font-size-medium);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
}

.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}

/*Hero section syles*/
.hero-section{
    background: var(--primary-color);
    min-height: 100vh;
}

.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title{
    font-size: var(--font-size-XXL);
    color: var(--secondary-color);
    font-family: "Caveat";
    font-weight: var(--font-weight-bold);

}

.hero-section .hero-details .subtitle{
    font-size: var(--font-size-XL);
    margin-top: 8px;
    max-width: 70%;
    font-weight: var(--font-weight-semibold);

}

.hero-section .hero-details .description{
    font-size: var(--font-size-medium);
    max-width: 70%;
    margin: 24px 0 40px;

}

.hero-section .hero-details .button{
    padding: 10px 26px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: var(--border-radius-medium);
    border: 2px solid transparent;
    transition: 0.25s ease;
}

.hero-section .hero-details .button:hover{
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}

.hero-section .hero-details .buttons{
    display: flex;
    gap: 23px;
}

.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right: 30px;

}


/*About section styles*/
.about-section{
    padding:120px;
    background: var(--light-pink-color)
}

.about-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.about-section .about-image-wrapper .about-image{
    width: 350px;
    height: 350px;
    padding: 10px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);

}

.about-section .about-details{
    max-width: 50%;
}


.about-section .about-details .text{
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-medium);


}

.about-section .about-details .section-title{
    padding: 0;
}

.about-section .social-link-list{
    display: flex;
    gap: 25px;
    justify-content: center;

}

.about-section .social-link-list .social-link{
    color: var(--primary-color);
    font-size: var(--font-size-large);
    transition: 0.3s ease;
}

.about-section .social-link-list .social-link:hover{
    color: var(--secondary-color)


}

/*Menu section styles*/

.menu-section{
    color: var(--white-color);
    background: var(--dark-color);
    padding: 50px 0 100px;
}
.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:110px;
    justify-content: space-between;
}

.menu-section .menu-list .menu-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3 - 110px);
    justify-content: space-between;
    text-align: center;

}

.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;
    border-radius: var(--border-radius-circle);
    margin-bottom: 15px;
}

.menu-section .menu-list .menu-item .name{
    font-size: var(--font-size-large);
    margin: 12px 0;;
    font-weight: var(--font-weight-semibold);

}

.menu-section .menu-list .menu-item .price{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 6px 18px;
    border-radius: var(--border-radius-medium);
    margin-bottom: 20px;
    margin-top: 8px;
}

.menu-section .menu-list .menu-item .text{
    font-size: var(--font-size-medium);
}

/*Map and ubication styles*/
.map-section {
  padding: 20px;
  background-image: url(src/backgrounds/coffee-white.jpg);
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.map-section .section-content {
  display: flex;
  gap: 30px; 
  flex-wrap: wrap;
  align-items: flex-start;
}

.map-section .map-container {
  flex: 2;
  min-width: 300px;
}

.info-container {
  flex: 1;
  min-width: 250px;
  font-size: var(--font-size-medium);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.60);
  padding: 20px;
  border-radius: 35px;
  color: var(--white-color);
  border-color: var(--secondary-color);
  transition: 0.2s ease;
  
}

.info-container:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

/*Gallery styles*/
.gallery-section{
    padding: 50px 0 100px;

}

.gallery-section .gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

}

.gallery-section .gallery-list .gallery-item{
    overflow: hidden;
    border-radius: var(--border-radius-small);
    width: calc(100% / 3 - 32px);

}

.gallery-section .gallery-list .gallery-img{
    width:100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.3s ease;

}

.gallery-section .gallery-item:hover .gallery-img{
    transform: scale(1.25)
}

/*Contact us styles*/
.contact-section{
    background: var(--light-pink-color);
    padding: 50px 0 100px;

}

.contact-section .section-content{
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;

}

.contact-section .contact-info-list .contact-info{
    display: flex;
    gap:20px;
    margin: 20px 0;
    align-items: center;

}

.contact-section .contact-info-list .contact-info i{
    font-size: var(--font-size-medium);

}

.contact-section .contact-form .form-input{
    width: 100%;
    height: 50px;
    background: white;
    border: 1px solid var(--medium-gray-color);
    border-radius: var(--border-radius-small);
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;

}

.contact-section .contact-form .form-input:focus{
    border-color: var(--secondary-color);
}

.contact-section .contact-form textarea.form-input{
    height: 100px;
    padding: 12px;
    resize: vertical;

}

.contact-section .contact-form{
    width: 50%;
}

.contact-section .contact-form .submit-button{
    background: var(--primary-color);
    padding: 10px 26px;
    color: white;
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-medium);
    transition: 0.3s ease;
    align-content: center;

}

.contact-section .contact-form .submit-button:hover{
    background: var(--secondary-color);
    border-color: var(--primary-color);
}



/*Responsive media query code for max width 1024px*/
@media screen and (max-width:1024px ){

    .menu-section .menu-list{
        gap:60px;
    }
    .menu-section .menu-list .menu-item{
        width: calc(100% / 3 - 60px);
    }

    .map-section .section-content{
        gap: 40px;
    }
}

/*Responsive media query code for max width 900px*/
@media screen and (max-width:900px ){
    
    :root{
        --font-size-medium: 1rem;
        --font-size-large: 1.25rem;
        --font-size-XL: 1.5rem;
        --font-size-XXL: 1.8rem;
    }

    body.show-mobile-menu header::before{
        content:"";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0,0,0,0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button){
        display: block;
        font-size: var(--font-size-large)
    }

    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button
    {
        color: white;

    }
    
    .navbar .nav-menu{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.2s ease;
        
    }

    body.show-mobile-menu .navbar .nav-menu{
        left: 0;
    }

    .navbar .nav-menu .nav-link{
        color: var(--dark-color);
        font-size: var(--font-size-XL);
        display: block;
        margin-top: 17px;
    }

    .hero-section .section-content{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;



    }

    .hero-section .hero-details :is(.subtitle,.description), .about-section, .about-details, .contact-section .contact-form{
        max-width: 100%;
    }

    .hero-section .hero-details .buttons{
        justify-content: center;
    }


    .hero-section .hero-image-wrapper{
        max-width: 270px;
        margin-right: 0;

    }

    .about-section .section-content{
        flex-direction: column;
        gap: 70px;    
    }

    .about-section .about-image-wrapper .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;

    }

    .menu-section .menu-list{
        gap:30px;
    }
    .menu-section .menu-list .menu-item{
        width: calc(100% / 2 - 30px);
    }

    .menu-section .menu-list .menu-item .menu-image{
        max-width: 200px;
    }

    .map-section .section-content {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 20px;
  }

  .map-container,
  .info-container {
    width: 100%;
    max-width: 100%;
  }

  .info-container {
    align-items: center;
  }
  .gallery-section .gallery-list{
    gap: 30px;
  }
  .gallery-section .gallery-list .gallery-item{
    width: calc(100% / 2 - 30px)
  }

  .contact-section .section-content{
    flex-direction: column-reverse;
    align-items: center;
  }

}

@media screen and (max-width:640px ){
    .menu-section .menu-list .menu-item,   .gallery-section .gallery-list .gallery-item{
        width: 100%;
    }

    .map-section .section-title {
    font-size: var(--font-size-XL);
    }

    .info-container p {
    font-size: var(--font-size-medium);
    }

    .map-container iframe {
    height: 250px;
    }

    
}   

